<div id="imageContainer">
  <img class="fp_preview" src="/assets/images/57.jpg" alt="" />
  <img class="fp_preview top" src="/assets/images/P1090708.jpg" alt="" />
</div>

<div class="fp_overlay"></div>

<div class="container">
  <section>
    <div id="container_demo">
      <div id="wrapper">
        <div id="login" class="animate form">
          <form autocomplete="on">
            <h1>Connexion</h1>

            <p>
              <label for="prenom" data-icon="p"> Votre prénom </label>
              <input id="prenom" name="prenom" type="text" placeholder="Prénom" #prenom/>
            </p>

            <p>
              <label for="nom" data-icon="u"> Votre nom </label>
              <input id="nom" name="nom" type="text" placeholder="Nom" #nom/>
            </p>

            <p class="login button">
              <input type="button" value="Se connecter" (click)="connexion(nom.value, prenom.value)"/>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
