/* You can add global styles to this file, and also import other style files */

.clickable {
  cursor: pointer;
}

.ng-invalid {
  border-color: var(--danger);
}

.ng-valid {
  border-color: var(--success);
}
